<style>
.view>p:first-of-type img:only-child {
    border-radius: .5em;
    object-fit: cover;
    object-position: 0 50%;
    width: 100%;
    transition: max-height .5s;
    max-height: 100em;
}
</style>
